<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/index.css" />

    <title>RepoMan</title>
  </head>

  <body>
    <!-- NavBar -->
    <div>
      <%- include ("navbar") -%>
    </div>
    <!-- Main Content -->
    <div class="container mt-2">
      <div class="row">
        <!-- Content  -->
        <div class="col">
          <div class="card border-0 bg-transparent">
            <div class="card-body m-1 rounded" id="main-content-area">
              <div id="register">
                <h3 class="text-dark text-left">Register Company</h3>
                <br />

                <form
                  action="/addCompany"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <% if(error!=''){ %>
                  <div class="alert alert-danger" role="alert">
                    <%=error%>
                  </div>
                  <%}%>

                  <div class="form-group">
                    Company Logo &nbsp;&nbsp;
                    <input
                      id="logo"
                      type="file"
                      name="companyLogo"
                      accept="image/jpeg, image/png"
                    />
                  </div>
                  <div class="form-group">
                    <label for="company">Company Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="company"
                      name="company"
                      placeholder="Company"
                      value="<%=userObj.company%>"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="website">Website</label>
                    <input
                      type="text"
                      class="form-control"
                      name="website"
                      id="website"
                      value="<%=userObj.website%>"
                      placeholder="Website"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">Address</label>
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      name="address1"
                      value="<%=userObj.address1%>"
                      placeholder="1234 Main St"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="address2"
                      name="address2"
                      value="<%=userObj.address2%>"
                      placeholder="Apartment, studio, or floor"
                      required
                    />
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="country">Country</label>
                      <select
                        id="country"
                        name="country"
                        class="form-control"
                        value="<%=userObj.country%>"
                      >
                        <option value="USA">United States of America</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="state">State</label>
                      <select class="form-control" id="state" name="state">
                        <option value="Select State">Select State</option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="zip">Zip</label>
                      <input
                        type="number"
                        class="form-control"
                        id="zip"
                        name="zip"
                        value="<%=userObj.zip%>"
                        placeholder="Zip code"
                      />
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="phone">Phone No</label>
                      <input
                        type="number"
                        class="form-control"
                        id="phone"
                        name="phoneNo"
                        value="<%=userObj.phoneNo%>"
                        placeholder="Phone Number"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <label for="fax">Fax No</label>
                      <input
                        type="number"
                        class="form-control"
                        id="fax"
                        name="faxNo"
                        value="<%=userObj.faxNo%>"
                        placeholder="Fax Number"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="description">Company Description</label>
                    <textarea
                      class="form-control"
                      id="companyDesc"
                      placeholder="Company Description"
                      rows="3"
                      value="<%=userObj.companyDesc%>"
                      name="companyDesc"
                    ></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">
                    Register
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Ad Space -->
        <div class="co-sm-3">
          <div id="vertical-ad-space">
            <% for(var i=0; i< SideBarImagesList.length; i++) { %>
            <img class="vertical-ad-img" src="<%= SideBarImagesList[i] %>" />
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <div class="footer-div">
              <ul class="footer-list" style="list-style-type: none;">
                <a href="/sitePolicy">
                  <li class="footer-text">Privacy Policy</li>
                </a>

                <a href="/account">
                  <li class="footer-text">Your Account</li>
                </a>
                <a href="/aboutUSAWeb">
                  <li class="footer-text">About USA Web</li>
                </a>
              </ul>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="footer-div">
              <ul class="footer-list" style="list-style-type: none;">
                <a href="/payment">
                  <li class="footer-text">Payment</li>
                </a>
                <a href="/contactUs">
                  <li class="footer-text">Contact Us</li>
                </a>
                <a href="/refund">
                  <li class="footer-text">Refund Policy</li>
                </a>
              </ul>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-4">
            <img
              id="footer-img"
              src="assets/images/large-rm-logo.png"
              alt="RepoMan.com"
            />
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-sm-8"></div>
          <div class="col-sm-4">
            <p class="footer-text">Copyright © USAWeb 1995-2019</p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
